<header class="header ff-inter d-flex align-items-center justify-content-between">
  <div class="logo mx-5">
    <a href="/">
      <img src="../../../assets/logo-iclass.png" alt="Logo da aplicação" />
    </a>
  </div>
  <div *ngIf="isLoggedIn()" class="d-flex align-items-center justify-content-between flex-grow-1 mx-5">
    <div class="welcome">
      <p *ngIf="username">
        Seja bem-vindo, <strong>{{ username }}</strong>
      </p>
    </div>
    <div>
      <button class="btn btn-primary" (click)="logout()">Sair</button>
    </div>
  </div>
</header>
