<div class="card shadow-sm">
  <form [formGroup]="formulario" class="card-body">
    <h3 class="card-title">Busca de Ordem de Serviço</h3>
    <div class="row">
      <div class="col">
        <label for="serviceOrderCode" class="form-label">Código</label>
        <input formControlName="serviceOrderCode" class="form-control" type="text" />
      </div>
    </div>

    <div class="row">
      <div class="col d-flex align-items-end">
        <div class="d-flex justify-content-evenly w-100">
          <button *ngIf="!loading" (click)="findByServiceOrderCode()" class="btn btn-primary">Buscar</button>
          <button *ngIf="loading" class="btn btn-primary" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Buscando...
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2">Código</th>
      <th colspan="4">Contrato</th>
      <th>Operadora</th>
      <th colspan="2">Tipo de Ordem de Serviço</th>
    </tr>
    <tr>
      <th>Código</th>
      <th>Nome do Titular</th>
      <th>CPF</th>
      <th>Email</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Resumo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let serviceOrder of seviceOrderList">
      <td>{{ serviceOrder.codigo }}</td>
      <td>{{ serviceOrder.contrato.codigo }}</td>
      <td>{{ serviceOrder.contrato.nomeTitular }}</td>
      <td>{{ serviceOrder.contrato.cpf }}</td>
      <td>{{ serviceOrder.contrato.email }}</td>
      <td>{{ serviceOrder.operadora.nome }}</td>
      <td>{{ serviceOrder.tipoOs.descricao }}</td>
      <td>{{ serviceOrder.tipoOs.resumoTipoOs }}</td>
    </tr>
  </tbody>
</table>
