thead,
td {
  text-align: center;
  vertical-align: middle;
}

.result-table {
  margin-top: 20px;
  max-width: 1500px;
  overflow-x: scroll;
}

tbody {
  max-height: 900px;
  overflow-y: auto;
}

.accordion-item {
  margin-bottom: 16px;
}

tbody tr {
  cursor: pointer;
}
