<form [formGroup]="formulario" class="card-body">
  <h3 class="card-title">Busca de Ordem de Serviço</h3>
  <div class="row">
    <div class="col">
      <label for="serviceOrderCode" class="form-label required">Código</label>
      <input
        formControlName="serviceOrderCode"
        class="form-control"
        type="text"
        [ngClass]="{ 'is-invalid': serviceOrderCode?.errors && submitted }"
      />
      <div *ngIf="serviceOrderCode?.errors?.['required']" class="invalid-feedback">
        Código da Ordem de Serviço é obrigatório
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex align-items-end">
      <div class="d-flex justify-content-evenly w-100">
        <button *ngIf="!loading" (click)="findByServiceOrderCode()" class="btn btn-primary">Buscar</button>
        <button *ngIf="loading" class="btn btn-primary" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Buscando...
        </button>
      </div>
    </div>
  </div>
</form>
